* {
  color: rgb(53, 53, 53);
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  background-color: rgb(238, 236, 236);
  text-align: right;
}

li {
  font-size: 1.3rem;
  display: inline;
  text-decoration: none;
  margin-right: 50px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(0, 128, 0);
  font-weight: bold;
}

a:hover {
  color: rgb(139, 0, 139);
}

main {
  padding: 60px 20px;
}

h1 {
  text-align: center;
  padding: 20px;
}

figure {
  width: 600px;
  margin: 0px auto;
}

p {
  text-align: justify;
}

h2,
footer {
  text-align: center;
}

input[type="text"] {
  width: 50%;
  padding: 7px;
}

label {
  display: inline-block;
  padding: 5px;
  display: none;
}

button {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  width: 20%;
  background-color: rgb(188, 183, 245);
}

.namefield,
.emailfield,
.button {
  padding: 10px;
  display: flex;
  justify-content: center;
}

footer {
  padding-bottom: 20px;
}
